* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: #001aff;
  --secondary-gray: #000000;
  --light-gray: #e4e1e1;
  --dark-gray: #000000;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--dark-gray);
  background-color: var(--light-gray);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #0a1fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.logo {
  max-height: 60px;
  width: auto;
}

.sublinhado {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--secondary-gray);
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.hero {
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--secondary-gray)
  );
  color: white;
  padding: 5rem 2rem;
  text-align: center;
  margin-top: 130px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
}

section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about,
.services,
.portfolio,
.contact {
  margin-bottom: 2rem;
}

h2 {
  color: var(--primary-blue);
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about p {
  max-width: 700px;
  text-align: justify;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #000000;
  line-height: 1.6;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.portfolio-item {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.portfolio-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-gray);
  border-radius: 4px;
}

.contact button {
  background-color: var(--primary-blue);
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact button:hover {
  background-color: var(--secondary-gray);
}

footer {
  background-color: var(--dark-gray);
  color: white;
  text-align: center;
  padding: 1rem;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: #0a1fff;
    width: 200px;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
